In [1]:
import glob
import pandas as pd
import numpy as np

In [ ]:
ridership = pd.concat([pd.read_csv(f) for f in glob.glob('raw data/*.csv')], ignore_index = True)
ridership=ridership.sort_values('Date')

In [4]:
ridership=ridership.drop('Column 1',1)
ridership.head()

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
71,1/1/19,22145,44131,297823,2429,49
80,1/10/19,39449,53225,298299,478,13
81,1/11/19,33196,44226,298331,465,23
82,1/12/19,25431,35133,298361,772,26
83,1/13/19,23020,33018,298399,700,18

In [5]:
ridership.to_csv("clean data/quarter_data_2019.csv")